@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');

/* font-family: 'Rubik', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

:root{
    --primary-color: #FFAD00;
    --black1: #1d1d1d;
    --black2: #444;
    --header-color: #fff;
    --paragraph-color: rgba(255, 255, 255, 0.6);
}

html::-webkit-scrollbar{
    width: .7rem;
}
html::-webkit-scrollbar-track{
    background: var(--black2);
}
html::-webkit-scrollbar-thumb{
    background: var(--primary-color);
    border-radius: 20px;
}

body{
    background-color: var(--black1)!important;
}

.navigation{
    height: 70px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navigation .logo .logo-img{
    height: 34px;
    width: 34px;
    background-color: var(--primary-color);
    border-radius: 50%;
}
.navigation .logo span{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-left: 15px;
    color: var(--header-color);
}
.navigation .nav-elements{
    padding-top: 15px;
}
.navigation .nav-elements ul{
    list-style-type: none;
}
.navigation .nav-elements ul li{
    display: inline-block;
    padding-right: 29px;
}
.navigation .nav-elements ul .nav-last{
    padding-right: 0px;
}
.navigation .nav-elements ul li a{
    text-decoration: none;
    font-size: 14px;
    color: var(--header-color);
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: 500;
}
.navigation .nav-elements ul li::after{
    content: "";
    width: 0px;
    height: 2px;
    display: block;
    background: var(--primary-color);
    transition: 0.5s;
}
.navigation .nav-elements ul li:hover::after{
    width: 100%;
}
.navigation .cta-btn a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--header-color);
    padding: 10px 25px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
.navigation .cta-btn a:hover{
    letter-spacing: 2px;
}


.navi .active{
    background: rgba(51, 51, 51, 0.5);
    backdrop-filter: blur(18.5px);
}

/* Hero Section Starts Here */

.hero-section{
    height: 100vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 70px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.hero-section .hero-contents{
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0%, -50%);
}
.hero-section .hero-contents .hero-main{
    display: flex;
    align-items: center;
}
.hero-section .hero-contents .hero-main span{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--primary-color);
    padding-right: 25px;
}
.hero-section .hero-contents .hero-main .underline{
    height: 3px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.hero-section .hero-contents .hero-texts h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 62px;
    color: var(--header-color);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}
.hero-section .hero-contents .hero-texts p{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}
.hero-section .hero-contents .hero-cta{
    display: flex;
    align-items: center;
}
.hero-section .hero-contents .hero-cta .cta-btn a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--header-color);
    padding: 10px 25px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
.hero-section .hero-contents .hero-cta .cta-btn a:hover{
    letter-spacing: 1px;
}
.hero-section .hero-contents .hero-cta .cta-btn-2 a{
    text-decoration: none;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--header-color);
    margin-left: 30px;
}
.hero-section .hero-contents .hero-cta .cta-btn-2 a i{
    padding-left: 10px;
}
.hero-section .hero-contents .hero-cta .cta-btn-2 a:hover i{
    transform: translateY(10px);
}
.hero-section .hero-icons{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0%, -50%);
}
.hero-section .hero-icons .social-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hero-section .hero-icons .social-icons a{
    text-decoration: none;
    color: var(--header-color);
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 20px;
}
.hero-section .hero-icons .social-icons a i{
    font-size: 15px;
}
.hero-section .hero-icons .social-icons a:hover{
    transform: scale(1.3);
}
.hero-section .hero-icons .social-icons a:hover i{
    transform: scale(1.2);
}

/* Hero Section Ends Here */

/* About Section Starts Here */

.about-section{
    height: auto;
    padding: 100px 5%;
    width: 100%;
}
.about-section .about-contents .about-main{
    display: flex;
    align-items: center;
}
.about-section .about-contents .about-main span{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--primary-color);
    padding-right: 25px;
}
.about-section .about-contents .about-main .underline{
    height: 3px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.about-section .about-contents .about-texts h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 51px;
    color: var(--header-color);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.about-section .about-contents .about-texts p{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}
.about-section .about-contents .about-cta a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--header-color);
    padding: 10px 25px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
.about-section .about-contents .about-cta a i{
    padding-left: 10px;
    font-size: 14px;
}
.about-section .about-contents .about-cta a:hover{
    letter-spacing: 1px;
}
.about-section .about-img img{
    width: 100%;
}

/* About Section Ends Here */

/* Tours Section Starts Here */

.tour-section{
    height: auto;
    width: 100%;
    padding: 100px 5%;
}
.tour-section .tour-header{
    text-align: center;
}
.tour-section .tour-header .tour-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.tour-section .tour-header .tour-main span{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--primary-color);
    padding-right: 25px;
}
.tour-section .tour-header .tour-main .underline{
    height: 3px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.tour-section .tour-header .tour-texts h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 48px;
    color: var(--header-color);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.tour-section .tour-header .tour-texts p{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}
.tour-section .tour-content .tour-gallery{
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
    outline: 1px solid var(--paragraph-color);
}
.tour-section .tour-content .tour-gallery img{
    width: 100%;
}
.tour-section .tour-content .tour-gallery .tour-gallery-texts{
    position: absolute;
    bottom: -100%;
    right: 0;
    background-color: rgb(51, 51, 51, .6);
    backdrop-filter: blur(15px);
    height: 80%;
    width: 100%;
    text-align: center;
    padding: 5%;
    transition: 0.7s;
}
.tour-section .tour-content .tour-gallery .tour-gallery-texts h5{
    color: var(--header-color);
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-size: 26px;
    margin-top: 25px;
}
.tour-section .tour-content .tour-gallery .tour-gallery-texts p{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 150%;
    margin-top: 15px;
    margin-bottom: 35px;
}
.tour-section .tour-content .tour-gallery .tour-gallery-texts .tour-cta a{
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 500;
    color: var(--header-color);
    background-color: var(--primary-color);
    border-radius: 8px;
}
.tour-section .tour-content .tour-gallery .tour-gallery-texts .tour-cta a:hover{
    letter-spacing: 1px;
}
.tour-section .tour-content .tour-gallery:hover .tour-gallery-texts{
    bottom: 0;
    transition: 0.7s;
}

/* Tours Section Ends Here */

/* Discover Section Starts Here */

.discover-section{
    height: auto;
    width: 100%;
    padding: 100px 5%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/discover.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.discover-section .discover-left-contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.discover-section .discover-contents .discover-main{
    display: flex;
    align-items: center;
}
.discover-section .discover-contents .discover-main span{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--primary-color);
    padding-right: 25px;
}
.discover-section .discover-contents .discover-main .underline{
    height: 3px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.discover-section .discover-contents .discover-texts h1{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 51px;
    color: var(--header-color);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.discover-section .discover-contents .discover-texts p{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}
.discover-section .discover-contents .discover-cta a{
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--header-color);
    padding: 10px 25px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 8px;
}
.discover-section .discover-contents .discover-cta a i{
    padding-left: 10px;
    font-size: 14px;
}
.discover-section .discover-contents .discover-cta a:hover{
    letter-spacing: 1px;
}
.discover-section .discover-right .dicover-img{
    position: relative;
    overflow: hidden!important;
    transition: 0.4s;
    height: 250px;
    margin-bottom: 25px;
}
.discover-section .discover-right .dicover-img img{
    width: 100%;
}
.discover-section .discover-right .dicover-img:hover img{
    transform: scale(1.3);
    transition: 0.4s;
}
.discover-section .discover-right .dicover-img .discover-img-play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.discover-section .discover-right .dicover-img .discover-img-play a{
    height: 60px;
    text-decoration: none;
    color: var(--header-color);
    width: 60px;
    background-color: rgb(51, 51, 51, .6);
    backdrop-filter: blur(5px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discover-section .discover-right .dicover-img .discover-img-play a i{
    font-size: 20px;
}

/* Discover Section Ends Here */

/* Testimonials Section Starts Here */

.testimonial-section{
    height: auto;
    width: 100%;
    padding: 100px 5%;
}

.testimonial-section .testimonial-header{
    text-align: center;
    margin-bottom: 50px;
}
.testimonial-section .testimonial-header .testimonial-main{
    display: flex;
    align-items: center;
    justify-content: center;
}
.testimonial-section .testimonial-header .testimonial-main span{
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: var(--primary-color);
    padding-right: 25px;
}
.testimonial-section .testimonial-header .testimonial-main .underline{
    height: 3px;
    width: 40px;
    background-color: var(--primary-color);
    border-radius: 2px;
}
.testimonial-section .testimonial-header .testimonial-texts h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 51px;
    color: var(--header-color);
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
    margin-top: 10px;
}
.testimonial-section .testimonial-header .testimonial-texts p{
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 40px;
}

.swiper{
    width: 100%;
    margin-top: 50px;
    transform: rotate(360deg);
}
.testimonial-card{
    background-color: #282828;
    padding: 35px;
    width: 40%;
}
.testimonial-card p{
    color: #fff;
}
.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}


/* Testimonials Section Ends Here */

